<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="ShowPowerName">
    <img class="mainBackground" src="/img/slutdiplom/Bakgrund.png">
    <img class="upperRight" src="/img/slutdiplom/Hoger_Uppe.png">
    <img class="lowerRight" src="/img/slutdiplom/Hoger_Nere.png">
    <img class="upperLeft" src="/img/slutdiplom/Vanster_Uppe.png">
    <img class="lowerLeft" src="/img/slutdiplom/Vanster_Nere.png">
    <div class="powerNameImage"><img v-bind:src=
    "powerNameImage"></div>
    <div class="textContainer">
      <div v-if="!playerNameSet" class="nameInput">
        <h1>{{powerName}} Du har stängt sprickan. Vad kallar dina
        vänner dig?</h1>
        <div class="input">
          <input v-model="playerName" placeholder="Ditt namn">
          <button v-on:click="playerNameSet=true">KLAR</button>
        </div>
      </div>
      <div v-else="" class="nameInput">
        <h1>Genom kraften av {{ powerName }} AKA {{playerName}}
        stängdes sprickan!</h1>
      </div>
    </div>
  </div>
</body>
</html>
