html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica;
}

main {
    width: 100%;
    height: auto;
    position: absolute;  /*Prevents content from flickering*/
    top:0;
}

.container {
  padding: 5px;
}

/* QR SCANNER */
#scanner {
  text-align: center;
  margin-top: 100px;
}

#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width:  80%;
}

/* Dev style */
.devhelper {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
}