@import "reset";
@import "style-animation";

html,
body {
  margin: 0px;
  /* Dev style */
  .devhelper {
    position: absolute;
    top: calc(100% - 10%);
    left: 5px;
    font-size: 12px;
  }

  .devhelper-button {
    height: 22px;
    max-width: 30%;
  }

  #qr-video-container {
    position: relative;
    width: 50%;
    margin: 0 auto;

    #qr-video {
      position: absolute;
      top: 100px;
    }

    img {
      position: absolute;
    }
  }
}
