div.SagaQrReader {
  #qrvideowrapper {
    position: relative;

    video#qrvideo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;

      z-index: 1;
    }

    canvas#qrcanvas {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      z-index: 10;
      // background-color: rgba(255, 0, 0, 0.5);
      background-color: red;
      opacity: 0.5;
    }
  }
}
