div.SagaQrReader {
  background-color: black;
  // background-color: red;

  // width: 100vw;
  // height: 100vh;

  div#qrvideowrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    div#reader {
      // background-color: green;
      // width: 320px;
      // display: inline-block;
    }
  }
}
